@media only all and (min-width: 1200px) {
  /* ********************** dark ********************** */
  .dark .lsidebar-fchild,
  .dark .content-schild,
  .dark .rsidebar-fchild,
  .dark .footer,
  .dark .navbar,
  .dark .about {
    background-color: #131a20;
  }

  .dark .lsidebar-fchild,
  .dark .content-schild,
  .dark .rsidebar-fchild,
  .dark .about {
    box-shadow: 0 0 5px 0px rgb(61, 107, 180);
  }

  .dark .navbar {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-shadow: 0 0 5px 0px rgb(61, 107, 180);
    position: relative;
    z-index: 1;
  }

  .dark .footer {
    box-shadow: 0 0 5px 0px rgb(61, 107, 180);
  }

  .dark .content {
    background-color: #1e293b;
  }

  .dark .navbar a {
    color: #e2e8f0;
  }

  .dark .navbar a:hover {
    color: #38bdf8;
  }

  .dark .navbar-search-input {
    background-color: #131a20;
    color: #e2e8f0;
    border-color: #283c5f;
  }

  .dark .navbar-search-input:focus {
    border-color: #2f518b;
  }

  .dark .navbar-search-icon,
  .dark .navbar-search-input::placeholder {
    color: #283c5f;
  }

  .dark .navbar-statistics h1 {
    color: #f16d6d;
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;
  }

  .dark .base-link {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #e2e8f0;
    background-color: #1b2233;
  }

  .dark .lsidebar-fchild .active {
    background-color: #283c5f;
  }

  .dark .base-link:hover {
    color: #38bdf8;
    background-color: #283c5f;
  }

  .dark .tweaks svg {
    fill: #283c5f;
  }
  .dark .tweaks svg:hover {
    fill: #2f518b;
  }

  .dark .tweaks-bar {
    background-color: #283c5f;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(7px);
    color: #e2e8f0;
  }

  .dark .theme-select {
    background-color: #284372;
  }

  .dark .language-select {
    background-color: #284372;
  }

  .dark .active {
    color: #38bdf8;
  }  
}




@media only all and (max-width: 1199px) {
}




@media only all and (max-width: 480px) {
}
